.acf-copy-icon::before {
  content: "\f481";
  font-family: dashicons;
  font-size: 14px;
}

.acf-copy-icon {
  visibility: hidden;
}

.layout:hover .acf-copy-icon {
  visibility: visible;
}

.acf-postbox .postbox-header:hover .handle-actions .acf-hndle-cog {
  display: none;
}

.acf-paste-icon {
  background: 0 0;
  border: 0;
  color: #72777c;
  cursor: pointer;
  font-size: inherit;
  height: 1.62rem;
  margin: 0;
  padding: 0;
  position: relative;
  width: 1.62rem;
}

.acf-paste-icon::before {
  content: "\f10f";
  font-family: dashicons;
}

.strl-appended-layout {
  border: 1px solid #243363 !important;
  box-shadow: 0 0 10px 1px rgba(36, 51, 99, 0.4);
}
